@model List<qwer.Models.User>
<script src="~/lib/jquery/dist/jquery.js"></script>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>
@section scripts
{
    <script type="text/javascript">

        $('#checkAll').click(function () {
            var checked = $(this).is(':checked');
            var cnt = $('input[type=checkbox]', "#myTable").length;
            $('input[type=checkbox]', "#myTable").each(function () {
                if (checked) {
                    $(this).attr('checked', 'checked');
                }
                else {
                    $(this).removeAttr('checked');
                }
            });
        });

    </script>
}

<form method="post">
    @{
        if (Model.Count > 0)
        {
            <div class="nav navbar-dark">
                <button type="submit" asp-controller="Users" asp-action="DeleteUsers" formmethod="post" class="btn btn-outline-danger">Delete</button>
                <button type="submit" asp-controller="Users" asp-action="BlockUsers" formmethod="post" class="btn btn-outline-warning">Block</button>
                <button type="submit" asp-controller="Users" asp-action="UnblockUsers" formmethod="post" class="btn btn-outline-success">Unblock</button>
            </div>
        }
    }
    <table class="table" id='myTable'>
        <thead>
            <tr>
                <th><input type="checkbox" id="checkAll" name="checkAll" value="" /></th>
                <th>
                    Id
                </th>
                <th>
                    Email
                </th>
                <th>
                    Username
                </th>
                <th>
                    Registration Date
                </th>
                <th>
                    Last Login Date
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selected" id="@item.Id" value="@item.Id">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLoginDate)
                    </td>
                    <td>
                        @{
                            if (item.BlockedStatus)
                            {
                                <p>Blocked</p>
                            }
                            else
                            {
                                <p>Active</p>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>

@{

}